.main-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 350px;
  background: #353434;
  color: white;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  h3 {
    color: white;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    text-align: center;
    margin-top: 10px;
  }

  label {
    cursor: pointer;
    width: 100%;
  }

  input[type="checkbox"] {
    margin-right: 8px;
  }

  hr {
    border-top: 1px solid #616161;
    width: 100%;
  }

  form {
    flex-grow: 1;
  }

  .hours {
    display: flex;
    justify-content: space-between;

    input {
      background: transparent;
      color: white;
      border: none;
    }
  }

}

