// Specific CSS for your home-page



.home {
  min-height: 100vh;
  color: white;

  /*background: #353434;*/
  /*background-image: asset-url('background.jpg');*/
  background: linear-gradient(#353434aa, #353434aa 25%, #353434 70%), asset-url('background.jpg');
  background-position-y: 0vh, -30vh;
  background-size: cover;
  background-repeat: no-repeat;


  padding-top: 40px;
  text-align: center;

  h1 {
    font-size: 75px;
    margin: 60px 0;
  }
}

.home .cities-card {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.home form {
  width: 50%;
  margin: auto;
  color: #353434;
}

