// Specific CSS for your home-page

#home {
  min-height: 100vh;
  display: flex;

  .form-container {
    background-color: #ece5d1;
    padding: 20px;
    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  @media (max-width: 900px)  {
    flex-direction: column;

    .map-container {
      height: 75vh;
    }
    .form-container {
      flex-grow: 1;
    }
  }

  @media (min-width: 901px)  {

    .map-container {
      flex-grow: 1;
    }
    .form-container {
      width: 300px
    }
  }
}


