// Specific CSS for your home-page

.home {
  min-height: 100vh;
  color: white;

  background: #353434;
  padding-top: 200px;
  text-align: center;
}


.home .cities-card {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

